body {
    background: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    padding: 25px;
    width: 280px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.login-box input {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

.login-box button {
    width: 100%;
    padding: 8px;
    background: blue;
    color: white;
    border: none;
}
